*{
    user-select: none;
}
body {
    overflow-x: hidden;
}
.sidebar {
    min-height: 100vh;
    background-color: #f8f9fa;
}
.app-name {
    font-weight: bold;
    font-size: 1.25rem;
}
.center-logo {
    font-size: 1.1rem;
    animation: pulse 2s infinite;
}
.list-group-item-action:hover {
    background-color: #f0f0f0;
    transition: background-color 0.2s ease;
}
@keyframes pulse {
    0% { opacity: 0.7; }
    50% { opacity: 1; }
    100% { opacity: 0.7; }
}
.home-page-link{
    text-decoration: none;
    color: black;
}
.accordion-button{
    text-decoration: none;
}

#sidebar {
    width: 250px;
    min-width: 200px;
    max-width: 500px;
    height: 100vh;
    overflow-y: auto;
    flex-shrink: 0;
    background-color: #f8f9fa;
    position: relative;
    display: flex;
    flex-direction: column;
}

#resizer {
    width: 5px;
    height: 100%;
    background: #ccc;
    cursor: ew-resize;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

#main-content {
    height: 100vh;
    overflow-y: auto;
}

#lock-resizer-btn {
    border: none;
    background: none;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
    background-color: #e9ecef !important; /* albo #f8f9fa – coś lekko szarego */
    color: #343a40 !important;
    border-color: #adb5bd !important;
}